@use '../_variables//variables' as *;

.container {
  width: 100%;

  background-color: var(--secondary-blue-color);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;

    span {
      color: $main-color;
    }
  }

  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 15px;
    > div {
      width: 40%;
      border: 1px solid rgba(180, 180, 180, 0.1);

      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      color: white;
      padding: 1.5rem;
      gap: 10px;
      align-self: stretch;

      h3 {
        font-size: 30px;
        font-weight: 400;
      }

      ul {
        list-style: none;

        li {
          font-size: 24px;
          font-weight: 400;
          &:before {
            content: '\2022';
            color: red;
            font-weight: bold;
            display: inline-block;
            width: 0.7em;
            font-size: 30px;
          }
        }
      }

      @media screen and (max-width: 430px) {
        width: 95%;

        .container h1 {
          font-size: 30px;
        }
        h3 {
          font-size: 24px;
        }
        ul li {
          font-size: 16px;
        }
      }
    }
  }
}
