@use '../_variables//variables' as *;

.container {
  width: 100%;
  background-color: #fbfbfb;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #1d1d1d;

  .wrapper {
    margin: 0 auto;
    max-width: 1040px;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
  }

  .cardWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 24px;
    > div {
      // width: 30%;

      border: 1px solid rgba(210, 210, 210, 0.5);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      align-items: stretch;
      padding: 1.5rem 2rem;
      gap: 20px;
      align-self: stretch;

      h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 35px;
      }

      ul {
        list-style: none;

        li {
          margin-top: 18px;
          font-size: 18px;
          font-weight: 400;
          &:before {
            content: '\2022';
            color: red;
            font-weight: bold;
            display: inline-block;
            width: 0.7em;
            font-size: 30px;
          }
        }
      }
    }
    @media screen and (max-width: 770px) {
      grid-template-columns: 1fr;
    }
  }
}
