.dashboard_layout {
  min-height: 100vh;
  display: flex;
  height: 100%;
  // position: relative;

  .menu__sidebar {
    display: none;
  }
  .dashboard_pages {
    padding: 20px 64px;
    width: 100%;
  }
  .navbar {
    @include Flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
    .filt {
      display: none;
      @media (max-width: 550px) {
        display: block;
      }
    }
    .form__input {
      width: 670px;
      height: 48px;
      padding-inline: 16px;
      background: #ffffff;
      border: 1px solid #d2d2d2;
      border-radius: 4px;
      input {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
    .user {
      @include Flex;
      gap: 8px;
      .user__grid {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 8px;
        align-items: center;
        .user_image {
          font-size: 20px;
        }
        .user_number {
          font-size: 10px;
        }
      }
      .drop__down {
        position: relative;
        .account {
          position: absolute;
          width: 221px;
          height: 121px;
          right: -38px;
          top: 40px;

          background: #fbfbfb;

          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          border-radius: 8px;
          padding: 28px 18px;
          p {
            margin-bottom: 16px;
            &:hover {
              background-color: #ccc;
            }
          }
        }
      }
      .show {
        transform: translateY(0%);
        opacity: 1;
        transition: all 350ms ease-out;
      }
      .hide {
        transform: translateY(-100%);
        opacity: 0;
      }
      .user_image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        grid-row: 1 / span 2;
        background: #1d1d1d;
        @include Flex;
        justify-content: center;
        color: #fff;
      }
    }
    @media (max-width: 500px) {
      .user {
        display: none;
      }
      .form_input {
        width: 197px;
      }
    }
  }
  @media (max-width: 830px) {
    .menu__sidebar {
      position: absolute;
      display: flex;
      left: 32px;
      top: 24px;
    }
    .overlay {
      position: absolute;
      inset: 0;
      background: rgba(34, 34, 34, 0.25);
      min-width: 100%;
      z-index: 4;
    }
    .overlay[data-visible='false'] {
      display: none;
    }
    .navbar {
      margin-left: 40px;
      justify-content: flex-end;
      gap: 40px;
      margin-bottom: 16px;
      .form__input {
        width: 287px;
      }
      @media (max-width: 550px) {
        gap: 10px;
        .form__input {
          width: 197px !important;
        }
      }
    }
    .dashboard_pages {
      padding-inline: 38px;
    }
  }
  @media (max-width: 1200px) {
    .navbar {
      .form__input {
        width: 360px;
      }
    }
    .dashboard_pages {
      padding-inline: 38px;
    }
  }
  @media (max-width: 550px) {
    .dashboard_pages {
      padding-inline: 16px;
    }
  }
}
