.DemoHero{
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.back_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 56px;
    height: 48px;

    background: #FF6C00;
    border-radius: 8px;
}

.icon{
    color: white;
}

.content{
    display: flex;
    justify-content: space-between;
}

.content_text{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.heading{
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    /* identical to box height, or 140% */


    /* Primary/Main */

    color: #FF6C00;
}

.info_heading{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Grey/300 */

    color: #434343;
} 

.info_description{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Grey/300 */

    color: #434343;
}

.more_info{

    .info_heading{
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    .info_description{
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }
}

.content_image img{
    width: 80%px;
}

.documentation_btn{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;
    background-color: #fff;

    width: 236px;
    height: 48px;

    border: 1px solid #FF6C00;
    border-radius: 8px;

    .documentation_text{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* Primary/Main */

        color: #FF6C00;
    }
}

@media screen and (max-width: 890px) {
    .content{
        display: flex;
        flex-direction: column-reverse;
        gap: 75px;
    };
}

@media screen and (max-width: 780px ) {
    .heading{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
    }

    .content_image{
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 80vw;
        }
    }

    .info_heading{
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    .info_description{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */


        /* Grey/Main */

        color: #1D1D1D;

        opacity: 0.9;
    }

    .more_info{
        .info_description{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .documentation_btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 8px;

        width: 236px;
        height: 48px;

        /* Primary/Main */

        border: 1px solid #FF6C00;
        border-radius: 8px;
    }

    .documentation_text{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}