.DemoHero {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.back_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 56px;
  height: 48px;
  background: #ff6c00;
  border-radius: 8px;
}

.icon {
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content_text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-right: 20px;
  max-width: 60%;
  color: #434343;
}

.heading {
  font-weight: 500;
  font-size: 30px;
  /* identical to box height, or 140% */

  /* Primary/Main */

  color: #ff6c00;
}

.info_heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  /* Grey/300 */
}

.info_description {
  font-size: 18px;
  line-height: 30px;
}

.more_info {
  .info_heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  .info_description {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
}

.documentation_btn {
  padding: 10px 24px;

  background-color: #fff;
  width: max-content;
  border: 1px solid #ff6c00;
  border-radius: 8px;
  text-align: center;

  &:hover {
    background-color: #ff6c00;
    color: #ffffff;
  }

  .documentation_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 890px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    gap: 75px;
  }
}

@media screen and (max-width: 780px) {
  .heading {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
  }

  .content_image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80vw;
    }
  }

  .info_heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  .info_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    /* Grey/Main */

    color: #1d1d1d;

    opacity: 0.9;
  }

  .more_info {
    .info_description {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .documentation_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;

    width: 236px;
    height: 48px;

    /* Primary/Main */

    border: 1px solid #ff6c00;
    border-radius: 8px;
  }

  .documentation_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}
