@use '../_variables//variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  padding: 3rem;
  gap: 32px;
  text-align: center;

  .cover {
    margin: 0 auto;
    max-width: 1040px;

    padding: 1.5rem 2rem;
    border-radius: 8px;

    h1 {
      font-weight: 700;

      font-size: 24px;
      line-height: 34px;
      text-align: center;
      letter-spacing: -0.02em;

      color: #1d1d1d;
      margin-bottom: 24px;

      @media (min-width: 500px) {
        font-size: 36px;
        line-height: 50px;
      }
      @media (min-width: 768px) {
        font-size: 48px;
        line-height: 64px;
      }
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      max-width: 475px;
      margin: 0 auto;
      color: #686868;
    }
    button {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      width: 260px;
      height: 56px;
      padding: 16px 24px;
      margin: 50px auto;
    }
  }
  .ctaWrapper {
    padding: 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    a {
      font-size: 20px;
      font-weight: 500;
      padding: 16px 24px;
      text-decoration: none;
      border: 1px solid $main-color;
      border-radius: 8px;

      &:nth-of-type(1) {
        background-color: $main-color;
        color: white;
        // padding: 16px;

        &:hover {
          background-color: #ff9d55;
        }
      }
      &:nth-of-type(2n) {
        color: $main-color;

        &:hover {
          background-color: #ff6c00;
          color: #ffffff;
        }
      }
    }
  }

  @media screen and (max-width: 770px) {
    flex-direction: column;
    .cover {
      h1 {
        font-size: 35px;
        line-height: 50px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 5rem 2rem;

    .cover {
      h1 {
        font-size: 30px;
        line-height: 42px;
      }
      p {
        font-size: 12px;
        line-height: 24px;
      }
    }
    .ctaWrapper a {
      font-size: 15px;
    }
  }
}
