@use '../_variables//variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  padding: 3rem;
  gap: 32px;
  text-align: center;

  .cover {
    margin: 0 auto;
    max-width: 1040px;
    border: 1px solid rgba(210, 210, 210, 0.5);
    padding: 1.5rem 2rem;
    border-radius: 8px;

    h1 {
      color: #1d1d1d;
      font-size: 40px;
      font-weight: 600;
      // line-height: 84px;
    }

    p {
      margin-top: 24px;
      font-size: 20px;
      color: #434343;
      // line-height: 30px;
      font-weight: 500;
    }
  }
  .ctaWrapper {
    padding: 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    a {
      font-size: 20px;
      font-weight: 500;
      padding: 16px 24px;
      text-decoration: none;
      border: 1px solid $main-color;
      border-radius: 8px;

      &:nth-of-type(1) {
        background-color: $main-color;
        color: white;
        // padding: 16px;

        &:hover {
          background-color: #ff9d55;
        }
      }
      &:nth-of-type(2n) {
        color: $main-color;

        &:hover {
          background-color: #ff6c00;
          color: #ffffff;
        }
      }
    }
  }

  @media screen and (max-width: 770px) {
    flex-direction: column;
    .cover {
      h1 {
        font-size: 35px;
        line-height: 50px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 5rem 2rem;

    .cover {
      h1 {
        font-size: 30px;
        line-height: 42px;
      }
      p {
        font-size: 12px;
        line-height: 24px;
      }
    }
    .ctaWrapper a {
      font-size: 15px;
    }
  }
}
