@use '../_variables//variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 32px;
  text-align: center;
  h1 {
    color: #1D1D1D;
    font-size: 60px;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    color: #434343;
    line-height: 30px;
    font-weight: 400;
    max-width:70%;
  }

  .ctaWrapper {
    padding: 4rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
      padding: 16px 24px;
      text-decoration: none;
      border: 1px solid $main-color;
      border-radius: 8px;

      &:nth-of-type(1) {
        background-color: $main-color;
        color: white;
        padding: 16px 40px;

        &:hover {
          background-color: #ff9d55;
        }
      }
      &:nth-of-type(2n) {
        color: $main-color;

        &:hover {
          background-color: #ff6c00;
          color: #ffffff;
        }
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      .container {
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 12px;
        }
      }

      a {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 5rem 2rem;
  }
}
