.sidebar {
  width: 23.5rem;
  min-height: 100%;
  border-right: 1px solid #ced5db;
  padding-right: 3px;
  background: #ffffff;
  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #1d1d1d;
  }
  .logo {
    width: 15.3rem;
    height: 25px;
    margin: 32px 24px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  nav {
    margin-top: 23px;
  }
  .sidebar__links {
    @include Flex;
    padding: 8px 25px;
    margin-bottom: 32px;
    gap: 17px;
  }
  .sidebar__links--active {
    background: rgba(255, 226, 204, 0.5);
    border-right: 4px solid #ff6c00;
    border-radius: 4px;
  }
}
@media (max-width: 830px) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    transform: translateX(-100%);
  }
  .sidebar[data-visible='true'] {
    transform: translateX(0%);
    transition: all 400ms ease-out;
  }
}
