@use '../_variables//variables' as *;

.container {
  width: 100%;

  background-color: var(--secondary-blue-color);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .wrapper {
    margin: 0 auto;
    max-width: 1040px;

    h1 {
      color: white;
      font-size: 36px;
      font-weight: 600;
      text-align: center;
      line-height: 50px;

      span {
        color: $main-color;
      }
    }

    .cardWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 4rem 0;
      gap: 24px;
      > div {
        // width: 30%;

        border: 1px solid rgba(180, 180, 180, 0.1);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        align-items: stretch;
        color: #fbfbfb;
        padding: 1.5rem;
        gap: 10px;
        align-self: stretch;

        h3 {
          font-size: 30px;
          font-weight: 600;
          line-height: 42px;
        }

        ul {
          list-style: none;

          li {
            margin-top: 18px;
            font-size: 18px;
            font-weight: 400;
            &:before {
              content: '\2022';
              color: red;
              font-weight: bold;
              display: inline-block;
              width: 0.7em;
              font-size: 30px;
            }
          }
        }

        a {
          padding: 10px 30px;
          text-decoration: none;
          border: 1px solid $main-color;
          border-radius: 8px;
          color: $main-color;
          align-self: flex-start;
          margin-top: auto;
          font-weight: 500;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    @media screen and (max-width: 770px) {
      .cardWrapper {
        grid-template-columns: 1fr;
        // > div:nth-child(3) {
        //   transform: translateX(50%);
        // }
      }
    }

    @media screen and (max-width: 430px) {
      .cardWrapper {
        grid-template-columns: 1fr;
        > div:nth-child(3) {
          transform: translateX(0);
        }
      }

      h1 {
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}
