.container {
  padding: 3rem;

  .content {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    background-color: #d2d2d2;
    border-radius: 20px;
    border: none;
    padding: 2rem;
    h1 {
      color: var(--secondary-blue-color);
      font-size: 4vmax;
      font-weight: 600;
      text-align: center;
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;

      img {
        width: 50%;
      }

      .text {
        h1 {
          text-align: left;
          font-size: 36px;
          color: black;
          font-weight: 600;
        }

        p {
          font-size: 20px;
          color: #686868;
          margin-top: 8px;
          margin-bottom: 25px;
        }

        a {
          padding: 11px 43px;
          text-decoration: none;
          background-color: #ff6c00;
          border-radius: 8px;
          color: white;
          border: none;
          // align-self: flex-start;
        }
      }

      @media screen and (max-width: 650px) {
        flex-direction: column;
        text-align: center;

        img {
          width: 100%;
        }

        .text {
          h1 {
            text-align: center;
          }
          a {
            align-self: center;
          }
        }
      }
    }

    @media screen and (max-width: 650px) {
      padding-inline: 1rem;
    }
  }
}
