.dashboard_details {
  .tag {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
    text-transform: capitalize;
  }
  .categories {
    margin-block: 34px 10px;
  }
  .image_categories {
    @include Flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 36px;
    .batch_images {
      display: grid;
      grid-template-columns: auto auto;
    }
    margin-bottom: 38px;
  }
  .batch_images {
    @include Flex;
    flex-wrap: wrap;
    gap: 16px;
    .batch_image {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media (max-width: 550px) {
        width: 64px;
        height: 64px;
      }
    }
  }
}
