.dashboard {
  position: relative;
  .dashboard__head {
    @include Flex;
    align-items: flex-start;
    justify-content: space-between;
    .images__card {
      width: 280px;
      height: 140px;

      background: rgba(255, 226, 204, 0.07);

      border: 1px solid rgba(102, 80, 63, 0.07);
      border-radius: 12px;
      padding: 38px;
      margin-bottom: 68px;
      @media (max-width: 550px) {
        padding: 15px;
        width: 140px;
        height: 100px;
      }
    }
    .button {
      padding: 16px 24px;
      background: #ff6c00;
      border-radius: 8px;
      color: #fff;
      font-weight: 500;
      font-size: 17px;
      line-height: 27px;
      @media (max-width: 830px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -140px;
      }
      @media (max-width: 550px) {
        padding-inline: 12px;
        width: 100%;
      }
    }
  }
  .api__details {
    h1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: #060608;
      margin-bottom: 24px;
    }
    .api__detail {
      font-size: 14px;
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      background: rgba(180, 180, 180, 0.1);
      padding: 12px 60px;
      margin-bottom: 32px;
      .copy {
        cursor: pointer;
        position: relative;
        &:active::after {
          content: 'copied';
          color: #ff6c00;
          position: absolute;
          left: 0;
          top: 40px;
          transition: all 380ms ease;
        }
      }
      .colored {
        color: #ff6c00;
      }
      @media (max-width: 550px) {
        grid-template-columns: 1fr 1fr 20px;
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #434343;
      }
    }
  }
  @media (max-width: 830px) {
  }
}
