.dashboard {
  position: relative;
  .dashboard_tablist {
    background: #fffbfa;

    border: 1px solid #ff6c00;
    border-radius: 8px;
    .active__tab {
      background: #ffe2cc;
      border-radius: 4px;
      color: #1d1d1d;
    }
    .tab:hover {
      background: #ffe2cc;
    }
  }

  .moving__warrnig__text {
    animation: moveright 10s linear infinite;
    display: flex;
    word-spacing: 10px;

    font-size: 20px;
    font-weight: 500;
    color: #ff6c00;
    @keyframes moveright {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    @media screen and (max-width: 550px) {
      font-size: 16px;
      font-weight: 400;
      word-spacing: 5px;
      justify-content: center;
      align-items: center;
      animation: none;
    }
  }
  .dashboard__head {
    @include Flex;
    align-items: flex-start;
    justify-content: flex-end;

    @media (max-width: 550px) {
      align-items: center;
      justify-content: stretch;
      gap: 30px;
    }

    .images__card {
      width: 280px;

      height: 140px;
      // margin-bottom: 100px;
      background: rgba(255, 226, 204, 0.07);

      border: 1px solid rgba(102, 80, 63, 0.07);
      border-radius: 12px;
      padding: 38px;
      margin-bottom: 68px;
      @media (max-width: 550px) {
        padding: 15px;
        width: 50%;
        height: 120px;
      }
    }
    .button {
      padding: 16px 24px;
      width: auto;
      background: #ff6c00;
      border-radius: 8px;
      color: #fff;
      font-weight: 500;
      font-size: 17px;
      line-height: 27px;
      &:hover {
        color: #ff6c00;
        font-weight: 400;

        border: 1px solid #ff6c00;
        background-color: #fff;
      }
      @media (max-width: 830px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -140px;
      }
      @media (max-width: 550px) {
        padding-inline: 12px;
        width: 100%;
      }
    }
  }
  .api__details {
    height: 300px;

    h1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: #060608;
      margin-bottom: 24px;
    }
    .api__detail {
      font-size: 14px;
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      background: rgba(180, 180, 180, 0.1);
      padding: 12px 60px;
      margin-bottom: 32px;
      gap: 10px;
      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .copy {
        cursor: pointer;
        position: relative;
        span {
          color: #ff6c00;
          position: absolute;
          left: 20px;
          top: 0;
          opacity: 0;
        }
        &:active {
          span {
            opacity: 1;
          }
        }
      }
      .colored {
        color: #ff6c00;
      }
      @media (max-width: 550px) {
        grid-template-columns: 1fr 1fr 20px;
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #434343;
      }
    }
  }
  @media (max-width: 830px) {
  }
}
