.show {
  transform: translateY(0%);
  opacity: 1;
  transition: all 350ms ease-out;
  z-index: 10;
}
.hide {
  transform: translateY(-250%);
  opacity: 0;
}
.tablist {
  @include Flex;
  gap: 15px;
  .active__tab {
    background-color: #ff6c00;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0.5px 3px 6px rgba(0, 0, 0, 0.5);
  }
}
