@import './_variables/mixins';
@import './layout/dashboardLayout.scss';
@import './layout/sidebar.scss';
@import './pages/dashboard.scss';
@import './pages/images.scss';
@import './utilities.scss';
@import './layout/Hero.scss';
@import './layout/Works.scss';
@import './layout/LandingPage.scss';
@import './layout/Testimonials.scss';
@import './layout//Uses.scss';
@import './layout/DemoHero.scss';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
a,
p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@font-face {
  font-family: Axiforma;
  src: url(../assets/font/Axiforma-Regular.woff);
}
