@font-face {
  font-family: Axiforma;
  src: url(../../../assets/font/Axiforma-Regular.woff);
}

.documetation_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  font-family: Axiforma;

  .hero_wrapper {
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-image: url(../../../assets/documentationImages/documentationHero.png);

    padding: 12px;

    color: white;

    > h1 {
      font-size: 48px;
      font-weight: 700;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
      @media screen and (max-width: 400px) {
        font-size: 20px;
      }
    }

    > h3 {
      font-size: 24px;
      text-align: center;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }

    > input {
      background-image: url(../../../assets/documentationImages/documentationSearchIcon.svg);
      background-position: 12px 8px;
      background-repeat: no-repeat;
      color: black;
      padding: 12px 16px 12px 45px;
      width: 50%;
      margin-bottom: 15px;
    }
  }

  .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 2rem 10px;

    @media screen and (min-width: 900px) {
      padding: 2rem 1.5rem;
    }
    > div {
      width: 270px;
      height: 280px;
      background-color: #fafafb;
      border: 1.5px solid #d5d6de;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      color: #131313;
      padding: 2rem 1.5rem;
      gap: 2.5rem;

      .title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        .icon {
          position: relative;

          background-color: #eaeaea;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        h1 {
          a {
            font-size: 20px;
            text-decoration: none;

            font-weight: 700;
          }
        }
      }
      > p {
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: justify;
        color: #434343;
      }
    }
  }
}
