$primary-text-color: #1d1d1d;
// $secondary-text-color: #4f4f4f;
// $highlight-color: #308c63;
// $primary-bg-color: #ffffff;
// $secondary-bg-color: #212738;

$overlay-color: rgba(0, 0, 0, 0.5);

$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
