html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: Axiforma;
    src: url(../../../assets/font/Axiforma-Regular.woff);
  }
  
  .utilities_wrapper {
    margin-bottom: 40px;
  }
  
  .utilities_introductionContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 3rem;
    font-family: Axiforma;
  }
  
  .utilities_mainContent {
    width: 70%;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 1.5rem;
    color: #434343;
    padding-right: 8px;
    @media screen and (max-width: 400px) {
      width: 100%;
      padding-right: 0px;
    }
    .utilities_underline {
      width: 90%;
      position: absolute;
      margin: 0 -20px;
      top: 55px;
      left: 25px;
      border-bottom: 1px solid #8495a5;
    }
  
    p {
      color: #434343;
    }
  
    .utilities_overview {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  
      h1 {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #131313;
      }
    }
  }
  
  .utilities_title {
    font-size: 36px;
    font-weight: 500;
    color: #131313;
    padding-inline-start: 5px;
  }
  .utilities_paragraph{
    padding-inline-start: 5px;
    color: #092C4C;
  }