@tailwind components;

@layer components {
  .container-dashboard {
    @apply mx-auto lg:mx-0 lg:max-w-2xl;
  }

  .dashboardSidebarLinks {
    @apply flex space-x-4 hover:bg-lightOrange py-3 mr-2 rounded-r-md hover:border-r-4 hover:border-solid hover:border-mainOrange;
  }

  .form__group {
    @apply flex flex-col mt-6 w-full;
  }

  .form__label {
    @apply text-small mb-2;
  }
}
