@import url('https://fonts.cdnfonts.com/css/axiforma');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Axiforma;
  src: url(./assets//font/Axiforma-Regular.woff);
}
body {
  font-family: Axiforma;
  overflow-x: hidden;
}
/* * {
  font-family: Axiforma;
} */
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.career-hero-bg {
  background-image: url('./assets/career-landing-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@layer base {
  :root {
    /* colors */
    --grayModal: 0deg 0% 13%; /* #222222*/
    --lightOrange: 26deg 100% 90%; /* #FFE2CC */
    --mainOrange: 25deg 100% 50%; /* #FF6C00 */
    --grey300: 0deg 0% 26%; /*#434343*/
    --grey800: 0deg 0% 80%; /*#ccc*/
    --sec-blue: 209deg 79% 17%; /*#092C4C*/
    --sec-brown: 25deg 100% 25%; /*#803600*/

    /* fonts */
    --fs-xl: clamp(2rem, 1rem + 2.2vw, 3.5rem);
    --fs-lg: clamp(1.5rem, 1rem + 1.5vw, 2rem);
    --fs-md: clamp(1.275rem, 1rem + 1vw, 1.8rem);
    --fs: clamp(1rem, 0.75rem + 1vw, 1.215rem);
    --fs-sm: clamp(0.85rem, 0.7rem + 1vw, 1.1rem);
    --fs-xs: clamp(0.75rem, 0.5rem + 1vw, 0.85rem);
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border border-solid border-x-inputGray text-inputGray py-3 px-4 rounded-xl focus:border-lightOrange focus:ring-mainOrange placeholder:text-inputGray placeholder:text-small;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-lightOrange text-mainOrange hover:border-lightOrange cursor-pointer focus:ring-mainOrange focus:bg-white;
  }
}

@layer components {
  .container {
    @apply mx-auto lg:mx-0 px-4 md:px-0;
    width: clamp(375px, 90vw, 650px);
  }

  .container__try-demo {
    width: clamp(355px, 95vw, 648px);
  }

  .container__try-demo--sm {
    @media screen and (min-width: 768px) {
      width: clamp(375px, 95vw, 648px);
    }
  }

  .b-red {
    @apply border border-solid border-red-500;
  }
}

@layer components {
  .how-it-works-gradient-text {
    position: absolute;
    width: 95px;
    left: 49px;
    top: -45px;

    font-family: Axiforma;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 90px;

    letter-spacing: -0.02em;

    background: linear-gradient(
      207.72deg,
      #686868 -7.41%,
      rgba(104, 104, 104, 0) 65.31%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (max-width: 768px) {
    .how-it-works-gradient-text {
      font-size: 48px;
    }
  }
}
