@import url('https://fonts.cdnfonts.com/css/axiforma');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Axiforma;
  src: url(./assets//font/Axiforma-Regular.woff);
}
body {
  font-family: Axiforma;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
